/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/theming";

@include mat-core();

$angular-cdk-portal-example-primary: mat-palette($mat-indigo);
$angular-cdk-portal-example-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-cdk-portal-example-warn: mat-palette($mat-red);

// @include angular-material-theme($angular-cdk-portal-example-theme);


$angular-cdk-portal-example-theme: mat-light-theme((color: (primary: $angular-cdk-portal-example-primary,
      accent: $angular-cdk-portal-example-accent,
      warn: $angular-cdk-portal-example-warn,
    ),
  ));
